* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    scroll-behavior: smooth;
    -moz-box-sizing: border-box;
    font-family: "Amiri Quran", sans-serif;


}


.container {
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    display: flex;

}

header {
    width: 95%;
    padding: 10px;
    margin: 10px auto;
}

header .links ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #d6d6d6;
    padding: 10px;
    margin-bottom: 20px;
}



header .links ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
    position: relative;
    color: #440fe2;
}

header .links ul li a::before,
header .links ul li a::after {
    content: "";
    background-color: #ce1414;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    transition: .5s ease-in-out;
}

header .links ul li a::before {
    top: 0;
    transform: scaleX(0);
    transform-origin: left;
}

header .links ul li a::after {
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
}

header .links ul li a:hover::before {
    transform: scaleX(1);
}

header .links ul li a:hover::after {
    transform: scaleX(1);
}


/* Styles for iPhones in portrait mode */
@media screen and (max-width: 400px) {
    .links ul {
        flex-direction: column;
    }

}

/* Styles for iPhones in landscape mode */
@media screen and (max-width: 667px) and (orientation: landscape) {
    .content {
        page-orientation: portrait;
    }
}


.image img {
    width: 60px;
    border: 2px solid #440fe2;
    border-radius: 50%;

}

.image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.left ul {
    list-style-type: none;
    width: 60px;
    /* background-color: #d6d6d6; */
    overflow: hidden;
    flex-shrink: 0;
    transition: .5s ease-in-out;

}

.left ul:hover {
    width: 250px;

}

.left ul li a {
    text-decoration: none;
    color: #440fe2;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-family: 900;
    padding: 15px;
    transition: .4s ease-in-out;

}

.left ul li a:hover {
    background-color: #d6d6d6;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin-left: 20px;


}

.columns .col {
    width: 230px;
    box-shadow: 2px -2px 5px #440fe2;
}

.columns .col img {
    width: 100%;
    transition: .5s ease-in-out;
}

.columns .col img:hover {
    transform: scale(1.3);
}

.columns-one {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.columns-one .col {
    width: 230px;
    height: 230px;
    box-shadow: 1px 1px 5px 3px #d6d6d6;
    padding: 10px;
    text-align: center;
    font-weight: 900;

}

.columns-one .col p {
    font-size: 20px;
}

.content .title {
    text-align: center;
    padding: 10px;
    margin: 10px;

}

.content .title .tit {
    position: relative;
}

.content .title .tit::before {
    content: "";
    width: 19.5rem;
    height: 2px;
    background-color: #440fe2;
    position: absolute;
    bottom: 0;



}

.content h1 {
    color: #000000;
    text-shadow: 2px 2px 5px #440fe2;

}

.content .title .one {
    animation-name: title;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

@keyframes title {
    0% {
        color: #440fe2;
    }


    25% {
        color: #e705f3;
        transform: translateX(250px);
    }


    75% {
        transform: translateX(-250px);
        color: #440fe2;
    }

    100% {
        transform: translateX(0px);
        color: #f60559;
    }
}

footer .social {
    padding: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 180px;
}

.icons {
    font-size: 25px;
    margin-right: 20px;
    color: #f60559;

}

.icons i {
    transition: .3s ease-in-out;
    margin-right: 10px;
}

.icons i:hover {
    scale: 1.4;
}

.end {
    color: #440fe2;
    text-align: center;
    font-weight: 700;
}

.end:hover {
    color: #e705f3;
}

.title-end {
    font-size: 20px;
    color: #f60559;
    text-align: center;
    animation-name: clients;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes clients {
    0% {
        color: #ce1414;
    }

    25% {
        color: #b514ce;
    }

    50% {
        color: #ff0000;
    }

    75% {
        color: #07f413;
    }

    100% {
        color: #08c0fe;
    }
}